body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}
h1 {
  font-size: 50px;
  margin: 20px;
  color: #e62727;
  background-image: linear-gradient(to right, blue, red);
  background-clip: text;
  color: transparent;
  animation: animates 3s linear infinite;
}
@keyframes animates {
  to {
    background-position-x: 500px;
  }
}
#chessboard {
  display: grid;
  /* 8 cot, moi o trong cot 50px */
  grid-template-columns: repeat(8, 50px);
  /* 8 hang, moi o trong hang 50px */
  grid-template-rows: repeat(8, 50px);
  /* margin: 0 auto; */
  border: 5px solid #6d3535;
  width: 400px;
  height: 400px;
}
.square {
  width: 50px;
  height: 50px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.white {
  background-color: #faf8f8;
}
.black {
  background-color: #dd1a1a4f;
}
.highlight {
  position: relative;
}
.highlight::after {
  content: ""; /* Buoc phai co noi dung de hien thi ben trong .highlight*/
  width: 20px;
  height: 20px;
  background-color: rgba(255, 0, 0, 0.6);
  border-radius: 50%;
  position: absolute;
}
.highlightPiece::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(87, 218, 87, 0.6);
  border-radius: 50%;
  position: absolute;
}
#defeatedWhitePiece {
  font-size: 30px;
}
#defeatedBlackPiece {
  font-size: 30px;
}
.current-Turn {
  outline: 2px solid rgb(106, 226, 58);
}
.selectedSquare {
  background-color: rgba(143, 70, 240, 0.6);
}
.highlightKingInCheck {
  background-color: red !important;
}
.chessblock {
  display: flex;
  width: 1000px;
  max-width: calc(100% - 100px);
  justify-content: space-evenly;
  margin: 0 auto;
}
.infor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 410px;
  width: 260px;
}
.check-message {
  color: red;
  font-weight: bold;
  font-size: 30px;
  height: 40px; /* Cố định chiều cao */
  visibility: hidden; /* Ẩn nội dung, nhưng vẫn chiếm không gian */
  text-align: center;
  line-height: 40px;
}
